<!DOCTYPE html>
<html>
<head><title>EDIT</title></head>
<body>
  <form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Enter the Updated Title: <input id="title" type="text" name="article[title]" value="<%= @article.title %>"></p>
    <p>Enter the Updated Content: <input id="content" type="textarea" name="article[content]" value="<%= @article.content %>"></p>
    <input type="submit" id="submit">
  </form>
</body>

</html>