<!DOCTYPE html>
<html>
<head></head>
<body>
  <form action="/articles" method="POST">
    <p>Enter the Title: <input type="text" name="title"></p>
    <p>Enter the Content: <input type="textarea" name="content"></p>
    <input type="submit" id="submit">
  </form>
</body>

</html>